<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
      <header>
        <h1>welcome</h1>
      </header>
      <%= yield %>
      <p>este viende de welcom to my crib</p>
  </body>
</html>
