<h1>hi bitch</h1>
<h2>turor: <%= @tutor %></h2>
<p>jaja</p>
<h3>result: <%=@num * @num2 %></h3>
<%if !@bool %>
      <p>mensaje: <%=@mensaje %><p>
<%end%>
<footer>
  <p>by <%= @tutor %></p>
</footer>
